# Configuration file for SingleTablePages.
#
# This should be copied somewhere OUTSIDE of the publicly available files. Ie,
# if the docroot is /var/www/htdocs, this file should be somewhere above that,
# such as /var/www, or adjacent, such as /var/www/libraries/singletablepages.
#
# You can have any number of these files, named differently, to set up multiple
# instances of SingleTablePages. Each time you invoke SingleTablePages, either
# on a web page or on the command line (for refreshing the data) you reference
# this configuration file.
#
# Because this is a YAML file, remember that whitespace is important.

# Database credentials: this is required.
database name: myDatabase
database user: myUser
database password: myPassword
database host: localhost
database table: myTable

# The database table must have a numeric unique column for identifying each
# row. The values for this column should never change, because it would cause
# the page's URL to change. Specify the name of this column here. Defaults to
# "uuid".
unique column: uuid

# Everything else in this document is optional.

# If you want to control what the URL parameter is, set that here. Otherwise the
# default is "stp". For example: http://example.com/my/dynamic/page?stf=123
url parameter: stp

# Twig templating can be used to produce the output of the row data. To do this,
# create a template file in the folder indicated here, named according to the
# column name, with an extension of ".html.twig". For example, with the example
# location below, to create a template for the "Title" column, you would create
# a file at /path/to/templates/Title.html.twig. If no template is create for
# a column, it will be output as its raw value. The template is passed a "row"
# variable which contains all of the columns from the database. As an additional
# shortcut, it gets a "value" variable which is the value of the column being
# output.
# Special case: A template called renderAll.html.twig will be used for any calls
# to the AppWeb::renderAll() method.
template folder: /path/to/templates

# Twig offers the ability to load custom functions. If you would like to take
# advantage of this, you can create a single file with PHP functions in it,
# and reference that file here. Note that you must also list the functions to
# load in "list of twig functions" below. For more information on Twig
# functions, see http://twig.sensiolabs.org/doc/advanced.html.
#file with twig functions: /path/to/my-twig-function-file.php

# If you indicated a file with Twig functions above, you also need to list the
# names of all the functions you want to use.
#list of twig functions:
#    - my_first_twig_function
#    - my_second_twig_function

# If there are any special characters or phrases that need to be altered when
# importing the data from the CSV file, indicate those here. For example, to
# change all occurences of § with &#167; uncomment the lines below.
#text alterations:
#    "§": "&#167;"

# If you are sharing this database with some other application, which is in
# charge of refreshing the data, you may want to disallow any refreshes, so
# avoid problems. If so, set this to true.
disallow imports: false

# If you want to return a 404 for invalid or missing uuids, set this to true.
# On the other hand, if you want to allow this app to be loaded on pages where
# it won't necessarily have an active row being displayed, set this to false.
require valid uuid: true
